# Node modules
/client/node_modules
/server/node_modules
/node_modules

# Misc
/.vscode
.DS_Store
/client/.DS_Store
/server/.DS_Store

#package.json
/client/package.json
/client/package-lock.json

/server/package.json
/server/package-lock.json
